@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* css rules:
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box {
    display: flex;
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50%;
    margin-bottom: 50%;
}

.container1 {
    background-color: hsl(244, 38%, 16%);
    height: 400px;
    width: 500px;
}

h1, .box-number {
    color: hsla(0, 0%, 100%);
}

p {
    color:hsla(0, 0%, 100%, 0.75);
}

.box .box-text{
    color:hsla(0, 0%, 100%, 0.6);
    font-family: Inter, sans-serif;
}


.img-container {
    height: 400px;
    width: 500px;
}



.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}