@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* css rules:
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
    box-sizing: border-box;
    font-size: 15px;
}

h1, .box-text {
   color: hsla(0, 0%, 100%);
}



.box .box-text{
    color:hsla(0, 0%, 100%, 0.6);
}